
.container {
	overflow: hidden;
}

/* This is the style for the dummy image slider. Animations are in fx[type].css */

.hero-slideshow {
	margin: 0 auto;
	position: relative;
	margin-bottom: 40px;
	max-width: 100%;
}

.hero-slideshow-small {
	width: 650px;
	height: 290px;
}

.hero-slideshow-fullwidth {
	width: 100%;
	height: 600px;
	margin-bottom: 0;
	background: #333;
}

.hero-slideshow-transparent {
	width: 900px;
	height: 500px;
}

.hero-slideshow > ul {
	width: 100%;
	max-width: 100%;
	height: 100%;
	position: relative;
	list-style: none;
	padding: 0;
	margin: 0 auto;
}

.hero-slideshow-small > ul {
	width: 450px;
}

.hero-slideshow-fullwidth > ul {
	overflow: hidden;
}

.hero-slideshow-transparent > ul {
	width: 112px;
}

.hero-slideshow li {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
	opacity: 0;
	/* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	z-index: 999;
}
.hero-slideshow-fullwidth li {
	overflow: hidden;
	text-align: center;
}
.lt-ie9 .hero-slideshow-fullwidth li{

	background-position: 50% 50%;
	background-attachment: fixed;
	background-repeat: none;
	background-size: cover;

	-ms-behavior: url(js/vendor/backgroundsize.min.htc);

}
.hero-slideshow .current {
	opacity: 1;
	/* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	pointer-events: auto;
	z-index: 1000;
}

.hero-slideshow li img {
	display: block;
	max-width: 100%;
}

.hero-slideshow-fullwidth li img {
	min-width: 100%;
	max-width: none;
	position: absolute;
	left: 50%;

	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);

}
.hero-slideshow nav a {
	position: absolute;
	width: 60px;
	height: 60px;
	color: #5b4c5c;
	outline: none;
	overflow: hidden;
	text-align: center;
	line-height: 200px;
	top: 50%;

	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.hero-slideshow-small nav a.prev,
.hero-slideshow-transparent nav a.prev {
	left: 0px;
}

.hero-slideshow-small nav a.next,
.hero-slideshow-transparent nav a.next {
	right: 0px;
}

.hero-slideshow-fullwidth nav a {
	top: 100%;
	margin-top: 25px;
	left: 50%;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
}

.hero-slideshow-fullwidth nav a.prev {
	margin-left: -80px;
}

.hero-slideshow-fullwidth nav a.next {
	margin-left: 20px;
}

.hero-slideshow nav a::before {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	line-height: 60px;
	height: 100%;
	font-family: 'fontawesome';
	font-size: 60px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	opacity: 0.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.hero-slideshow nav a:hover::before {
	opacity: 1;
}

a.prev::before {
	content: "\e601";
}

a.next::before {
	content: "\e600";
}

@media screen and (max-width: 35.5em) {
	.hero-slideshow-small nav a {
		top: 100%;
		margin-top: 10px;
		-webkit-transform: translateY(0%);
		transform: translateY(0%);
	}

	.hero-slideshow-small nav a.prev {
		left: 50%;
		margin-left: -80px;
	}

	.hero-slideshow-small nav a.next {
		margin-left: 20px;
		right: auto;
		left: 50%;
	}
}