@charset "UTF-8";

@font-face {
  font-family: "nestfont";
  src:url("fonts/nestfont.eot");
  src:url("fonts/nestfont.eot?#iefix") format("embedded-opentype"),
    url("fonts/nestfont.woff") format("woff"),
    url("fonts/nestfont.ttf") format("truetype"),
    url("fonts/nestfont.svg#nestfont") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "nestfont" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="nestofont-"]:before,
[class*=" nestofont-"]:before {
  font-family: "nestfont" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nestofont-user-o:before {
  content: "a";
}


#mega-menu {
/*font: normal 13px Arial, sans-serif; */
list-style: none; 
position: relative;
*width: 680px;
}
#mega-menu .sub ul {
display: block; *zoom: 1;
}
#mega-menu {
position: relative; *zoom: 1; *z-index:99;
}
#mega-menu li { *float: left; *cursor: pointer;}
#mega-menu li.first { *float: left;}
#mega-menu li.first > a { *float: left; *width: 100px;}
#mega-menu li a {}
#mega-menu li.mega-hover a, #mega-menu li.mega-hover a:hover { color: #111; text-decoration: none; border-bottom: 1px solid #ef9c00;}
#mega-menu > li a{opacity: 0.8; cursor: pointer;}
#mega-menu li li a{opacity: 1 !important;}
#mega-menu li.mega-hover a:hover, #mega-menu li a.active, #mega-menu li a.active-trail { opacity:1; color: #111; text-decoration: none; border-bottom: 1px solid #ef9c00;}
#mega-menu li a:hover {}

#mega-menu li a .dc-mega-icon{display:none;}

#mega-menu li .sub span { padding: 100px 0 0 0 !important; display: block !important; zoom: 1; text-align: center;}

#mega-menu li .sub-container {
position: absolute; margin-top: 7px;
}
#mega-menu li .sub {
background: #fff; 
padding: 12px 15px 5px; 
border: 1px solid #e5e5e5;
box-shadow: 0 3px 5px rgba(0,0,0,.3); -moz-box-shadow: 0 3px 5px rgba(0,0,0,.3); -webkit-box-shadow: 0 3px 5px rgba(0,0,0,.3);
}
#mega-menu li .sub .row {
width:100%;
overflow: hidden;
clear: both;
min-width: 250px;
}
#mega-menu li .sub li {
list-style: none; 
float: left; 
width: 120px;
min-height: 125px;
height: auto !important;
font-size: 1em; 
font-weight: normal;
display: inline-block;
margin: 0px 5px 3px 0 !important;
}
#mega-menu li .sub li.mega-hdr {
margin: 5px; 
float: left;
}
#mega-menu li .sub li.mega-hdr.last {
margin-right: 0;
}
#mega-menu li .sub a {
padding: 105px 5px 5px; 
display: block; 
font-weight: normal;
float: none;
text-align: center;
border-bottom: none;
font-size: 12px;
 cursor: pointer;
}
#mega-menu li .sub a { background-position: center 5px !important; background-size:113px 94px !important;}
#mega-menu li .sub li.mega-hdr a.mega-hdr-a {
padding: 5px 0px; 
margin-bottom: 5px; 
background: #fff; 
text-transform: uppercase;
color: #888;
}
#mega-menu li .sub li.mega-hdr a.mega-hdr-a:hover {
color: #111;
}
#mega-menu .sub li.mega-hdr li a {
padding: 5px 5px; 
font-weight: normal;
color: #888;
border-bottom: 1px solid #fff;
height: auto !important;
/*font-size: 13px;*/
}
#mega-menu .sub li.mega-hdr li a:hover {
color: #111; background-color: #eee; border-bottom-color: #ccc;
}
#mega-menu .sub li.mega-hdr li a img { margin-bottom: 5px;}
#mega-menu .sub ul li {
padding-right: 0; margin: 0 5px;
}
#mega-menu li .sub-container.non-mega .sub {
padding: 10px;
}
#mega-menu li .sub-container.non-mega li {
padding: 0; 
width: 130px; 
margin: 0;
}
#mega-menu li .sub-container.non-mega li a {
padding: 7px 5px 7px 22px;
}
#mega-menu li .sub-container.non-mega li a:hover {
color: #a32403; 
background: #efefef;
}

.label-as-badge {
    border-radius: 1em;
}

.newProduct{
  margin-bottom :2%;
  opacity: 1;
  background-color: orange;
  color: #fff;
  font-size: 50%;
  border-radius: 6px;
  padding: 5px;
}